body {
  margin: 0;
  padding: 0;
}

.card {
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.card .cardImage {
  max-width: 33%;
  height: auto;
}

.card .cardTitle {
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.card .cardCopy {
  max-width: 55%;
}
